:host > button {
    font-family: "Hahmlet", "En-Noto", Arial, Helvetica, sans-serif;
    padding:.525em 1.25em .525em 1.25em;
    cursor: pointer;
    border:0px;
    border-radius: .25em;
    background-color: #fbfbfb;
    transition: box-shadow .2s ease, transform .2s ease, --webkit-transform .2s ease, font-size .1s ease;
    flex:1;
    position: relative;

    

    &.en {
        font-family: "En-Noto", Arial, Helvetica, sans-serif ;
    }

    &:hover {
        box-shadow: rgb(132 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 3px;
        transform: translate(0%, -5%);
    }

    &:active {
        transform: translate(0%, 0%);
    }

}

:host(.w100) {
    width: 100%;
    & > button {
        width: 100%;
    }
}

:host(.primary) {
    & button {
        background-color: #3d64e6;
        color:white;

        &:hover {
            box-shadow: rgb(132 0 0 / 5%) 0px 6px 24px 0px, #3d64e625 0px 0px 0px 3px;    
        }
    }
}

:host(.danger) {
    & button {
        background-color: #d81d1d;
        color:white;

        &:hover {
            box-shadow: rgb(132 0 0 / 5%) 0px 6px 24px 0px, #e63d3d25 0px 0px 0px 3px;    
        }
    }
}