
$vertical-width: 100px;
$vertical-height: 160px;
$horizon-width: 160px;
$horizon-height: 100px;
$color-white: white;
$color-primary: #2284f0;
$color-danger: #ff8080;
$color-success: #22c55e;
$color-light: #eeeeee;
$color-secondary: #bfbfbf;
$color-gray: #828282;
$color-dark: #474747;
$bg-color: #f1f3f4;


@mixin absolute-center {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}



@mixin korean-font {
    font-family: "AppleSDGothicNeo", Arial, Helvetica, sans-serif;
}

@mixin english-font {
    font-family: "AppleSDGothicNeo", Arial, Helvetica, sans-serif;
}

@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';
    
    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};
    
        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}


@keyframes rollOpen {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@keyframes rollDown {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}