:host {
    flex:1 1 0px;
    display: flex;
}

.tool-wrapper {
    display: flex;
    flex: 1 1 0px;

    & > .main-layout {
        flex: 4
    }

    & > .chat-layout {
        flex: 2;
        background-color: red;
        width:100px;
        transition: max-width .3s ease-out;
        max-width: 300px;
        &.hide {
            max-width: 0px;
        }
    }
}