@import '/src/assets/scss/variable.scss';

.form {
    display: flex;
    height: 250px;
    border-bottom: 1px solid $color-light;
    position: relative;
    
    &.active {
        &::before {
            content:'';
            position: absolute;
            height: 100%;
            width: 4px;
            left:0px;
            background-color: $color-primary;
        }
    }

    & > div:nth-child(1) {
        width: 135px;
        border-right: 1px solid $color-light;
        display: flex;
        justify-content: center;
        align-items: center;
        writing-mode: vertical-lr;
        font-size: 16px;
        position: relative;
        &.required {
            color:$color-primary;

            & > .title {
                position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    left:-6px;
                    top:-6px;
                    background-color: $color-danger;
                    width: 6px;
                    height: 6px;
                    border-radius: 6px;
                }
            }
        }

        & > i.reset {
            position: absolute !important;
            top:6px;
            right:6px;
        }
    }

    & > div:nth-child(2) {
        display: flex;
        flex: 1;
        padding: 5px;
        overflow-y: auto;
        & > * {
            flex: 1;
        }

        & > .example-form {
            display: flex;
            flex-direction: column;
            & > div {
                display: flex;
                align-items: center;
                flex: 1;
                min-height: 40px;
                max-height: 40px;

                &:not(:last-child) {
                    margin-bottom: 5px;
                }


                & > span:first-child {
                    min-width: 30px;
                    text-align: center;
                    color:$color-primary;
                }

                & > input {
                    border:0px;
                    flex:1;
                    height: 100%;
                    margin-right: 10px;
                    &:focus {
                        outline: none;
                    }

                    &.duplicated {
                        color: $color-danger;
                    }
                }

                & > i {
                    cursor: pointer;
                    width: 30px !important;
                    height: 30px !important;
                    transition: background-color .2s ease-out;

                    &.disabled {
                        background-color: $color-gray;
                        cursor: default;
                    }

                    &:not(:last-child) {
                        margin-right: 5px;
                    }

                    &:not(.disabled):hover {
                        &:not(:last-child) {
                            background-color: $color-primary-light
                        }
                        &:last-child {
                            background-color: $color-danger
                        }
                    }
                }
            }
        }
    }
}

