@import '/src/assets/scss/variable.scss';


:host {
    flex: 1;
    @include korean-font();
    font-size: 14px;
}

.detail-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    font-weight: 400;
    margin-top: 60px;
    margin-left:166px;
    width: 100%;
    & > div:nth-child(1) {
        height: 30px;
        display: flex;
        align-items: center;
        cursor: pointer;
        
        & > span:nth-child(2) {
            margin-left: 5px;
            margin-top: 1px;
        }
    }

    & > .detail-content {
        display: flex;
        flex-direction: row;
    }

    & > .detail-content > .project-info {
        display: inline-flex;
        flex-direction: column;
        background-color: white;
        
        border-radius: 15px;
        width:466px;
        height:726px;
        padding:30px 15px 0px 15px;

        & > .header {
            & > div:nth-child(1) {
                font-size: 18px;
                font-weight: 700;
            }
            & > div:nth-child(2) {
                font-size: 16px;
                font-weight: 700;
                color:$color-primary;
            }

            & > div:nth-child(3) {
                font-weight: 700;
                color:$color-dark;
            }
        }

        & > .content {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap:17px;
            margin-top:17px;
            & > span {
                position: relative;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 134px;
                height: 134px;
                border-radius: 15px;
                padding:10px;
                
                & path {
                    fill:red !important;
                }

                & > strong {
                    position: absolute;
                    top:0px;
                    right: 0px;
                    text-align: right;
                    margin:10px;
                }

                & > span {
                    font-weight: 700;
                    font-size: 24px;
                }
            }
        }

        & > .footer {
            display: flex;
            margin-top:14px;
            flex: 1;
            flex-direction: column;
            & > div:nth-child(2) {
                display: grid;
                
                margin-bottom: 10px;
                height: 80%;
            }
        }
    }

  
    & > .detail-content > .task-list {
        display: inline-flex;
        background-color: white;
        border-radius: 15px;
        width:940px;
        height:726px;
        margin-left:10px;

        & > div {
            display: flex;
            flex:1;
            flex-direction: column;
            margin-left:159px;
            margin-top:38px;
            & > h3 {
                margin: 0px;
                height: 52px;
                line-height: 52px;
                font-size:18px;
                font-weight: 800;
            }

            & > .header {
                margin-top:30px;
                margin-bottom: 8px;
                height: 52px;
                display: flex;
                align-items: center;
                & > .search-input {
                    overflow: hidden;
                    height: 100%;
                    & > i {
                        transition: transform .5s ease, opacity .2s ease-out;
                        cursor: pointer !important;
                        z-index: 3;
                    }
                }
        
                & .search {
                    
                    & > i.close {
                        transform: translate(0%, 100%);
                        opacity: 0;
                        z-index: -1;
                    }
                }
        
                & .close {
                    & > i.search {
                        transform: translate(0%, 100%);
                        opacity: 0;
                        z-index: -1;
                    }
                }
            }

            & > .content {
                flex:1;
                overflow-y: auto;
                margin-bottom: 40px;
                width: 630px;
                padding:5px;
                & > .task-box {
                    height: 150px;;
                    margin-bottom: 29px;
                    display: flex;
                    padding-left: 8px;
                    & > .left-box {
                        padding-top:8px;
                        padding-bottom: 11px;
                        display: flex;
                        flex-direction: column;
                        flex: 1;
                        max-width: 254px;
                        border-right: 1px solid $color-light;

                        & > .top-card {
                            & > div:nth-child(1) {
                                font-weight: 600;
                                font-size: 16px;
                            }
                            & > div:nth-child(2) {
                                color:$color-gray;
                            }

                            & > div:nth-child(3) {
                                &.work {color: $color-success}
                                &.start {color: $color-primary}
                                &.end {color: $color-danger}
                            }
                        }

                        & > .bottom-card {
                            flex: 1;
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
                            gap:24px;
                            & > span {
                                display: flex;
                                border-radius: 10px;
                                width: 58px;
                                height: 58px;
                                justify-content: center;
                                align-self: flex-end;
                                align-items: center;
                                flex-direction: column;
                                position: relative;
                                cursor: pointer;
                                & > i {
                                    margin-bottom: 10px;
                                }

                                & > strong {
                                    font-weight: 400;
                                    font-size: 12px;
                                    position: absolute;
                                    bottom:0px;
                                    width:100%;
                                    text-align: center;
                                }
                                
                            }
                        }
                    }

                    & > .right-box {
                        display: flex;
                        flex-direction: column;
                        flex: 1;
                        
                        & > div {
                            flex: 1;
                            display: flex;
                            &.top-card {
                                border-bottom: 1px solid $color-light;
                            }
                        }

                        & > div > span {
                            position: relative;
                            flex: 1;
                            font-size: 14px;
                            font-weight: 600;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            & > strong:nth-child(1) {
                                position: absolute;
                                top:0px;
                                left:8px;
                                height:30px;
                                line-height: 30px;
                            }

                            & > strong:nth-child(2) {
                                margin-top:5px;
                            }
                        }
                    }
                }
            }
        }
    }
 }

 .create-modal {
     width: 50%;
     justify-self: stretch;
     align-self: center;
     flex: 1 1 0px;
     display: flex;
     flex-direction: column;
     font-size: 18px;
     & > h3 {
        @include korean-font();
         margin-bottom: .2em;
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: space-between;

         & > span { font-weight: 600;}
     }

     & > .success-page {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         flex: 1 1 0px;
         @include korean-font();
         @include animation('fadeIn .5s ease');

         & div {
            margin-bottom: 1em;
        }

        & > i {
            width:50px;
            height: 50px;
            border-radius: 50px;
            margin:20px;
            position: relative;
            font-size: 1.3em;
            box-shadow: rgba(50, 219, 41, 0.501) 0px 0px 1px 2px ;
            background-color: rgba(50, 219, 41, 0.501);
            color:#00671b ;
            &::before{
                @include absolute-center();
            }
        }
     }
 }

 .delete-modal {
    display: flex;
    flex-direction: column;
    position: relative;
    flex:1;

    & > div:nth-child(1) {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 2em;
        padding:1em;
        color:#fd4a65
    }

    & > div:nth-child(2) {
        @include korean-font();
        font-size: 1.5em;
        text-align: center;
        line-height: 1.2;
        padding:1em;
        font-weight: 500;
    }

    & > div:nth-child(3) {
        @include korean-font();
        position: absolute;
        bottom:0%;
        margin-bottom: 2.25em;
        display: flex;
        justify-content: space-between;
        left:50%;
        transform: translate(-50%, 0%);
        
        & > app-button:nth-child(1) {
            margin-right:20px
        }
    }
    
}