@import '/src/assets/scss/variable.scss';

:host {
    display: block;
}

@keyframes reveal {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes hide {
    from {
        
    }

    to {
        opacity: 0;
        
    }

}


.input-wrapper {
    display: flex;
    color: #565656;
    font-family: "Kr-Noto", "En-Noto", Arial, Helvetica, sans-serif;
    flex-direction: column;
    position: relative;
    .required-sign {
        position: absolute;
        width: 0px;
        height: 0px;
        transform: translate(-3px, 1px);
        border-top:3px solid #e84615;
        border-left:3px solid #e84615;
        border-right:3px solid transparent;
        border-bottom:3px solid transparent;
    }

    &.left {
        align-items: flex-start;
    }

    &.right {
        align-items: flex-end;
    }

    & > span {
        padding: .25em;
        
        & .popup {
            &::after, &::before {
                background-color: $text-danger !important;
                color:white
            }
        }

        & .error-icon {
            color: $text-danger !important;
            animation: reveal .1s ease-in-out 0s forwards;
        }
    }

    & > div {
        margin-top:.25em;
        width:100%;
        border-radius: .525em;
        border:1px solid #e8e8e8;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-family: inherit;

        &.fix-height {
            height:2.5em;
        }

        &:hover {
            border: 1px solid #b5b7ba;
        }

        &:focus-within {
            border: 1px solid #2284f0;
        }

        &.success {
            border: 1px solid #66cd70;
        }

        &.error {
            border: 1px solid $text-danger;
        }


    

        & > section {
            flex:1;
            height:100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding:.25em;
            & > input {
                background-color: white;
                border-radius:.525em;
                border:0px;
                font-family: inherit;
                height: 100%;
                width: 100%;
                transition: outline .2s ease-out;

                &:disabled {
                    background-color: #f8f8f8;
                    color:#929292;
                }

                &:focus {
                    outline:none;
                }
            }

            
        }

        & > span {
            padding: .525em;
        }
        
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button
    {
        -moz-appearance: none; 
        appearance: none;
        -moz-appearance: textfield;
    }
    .radio-list {
        flex: 1;
        ul {
            list-style-type: none;
            margin:0px;
            padding-left: 0px;
            flex: 1;
            & > li {
                display: flex;
                flex-direction: row;
                border: 1px solid $text-light;
                margin: .25em 0px;
                padding: .25em;
                align-items: center;
                justify-content: flex-start;
                transition: background-color .2s ease-out;
                border-radius: .2em;

                &:hover {
                    background-color: $text-light;
                }
                & > label {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                    
                    & > input {
                        margin-right: .52em;
                    }
                }
            }
        }
    }
    
}
