$background-color:#1b1c30;
$font-color:#808292;
$icon-color: #9fa2aa;
$border-color: #32324e;

@mixin active-style {
    background-color: #2c3344;
    & > i {
        color: #eaeaea
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;        
    }
}

.side-menu {
    background-color:$background-color;
    border-right:1px solid $border-color;
    position: relative;
    display: flex;
    flex-direction: column;
    height:100%;
    width: 80px;
    color:$font-color;
    padding: .5em;
    align-items: center;
    transition: .25s ease-in;
    font-size: 16px;
    &.on {
        width: 166px;
        transition: .25s ease-out;
    }

    i.logo {
        font-size: 50px;
        margin-top: 130px;
        transition: .5s ease-out;
        -o-transition: .5s ease-out;
        -moz-transition: .5s ease-out;
    }

    .menu-btn {
        width: 100%;
        margin-top: 50px;
        & > div {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            border-radius: .5em;
            border: 1px solid $border-color;
            padding: .7em;
            margin-top: 10px;
            font-weight: 600;
            cursor: pointer;
            white-space: nowrap;
            line-height: 21px;
        }

        & > div.active {
            @include active-style()
        }

        & > div:hover {
            @include active-style()
        }
     
        & > div > i {
             color: $icon-color;
             font-size: 16px;
             height: 22px;
             margin-right: 5px
        }
    }

    .menu-btn.off {
        & > div { 
            justify-content: center;
        }
    }

    .menu-text {
        display: none;
        opacity: 0;
    }

    .menu-text.on {
        animation: fadeIn .1s ease-out .15s ;
        display: block;
        animation-fill-mode: forwards;
    }

    .menu-text.off {
        display: none;
    }

    .bottom-side {
        position: absolute;
        bottom:0px;
        padding: .5em;
        height: 50px;
        border-top: 1px solid $border-color;
        width:100%;
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        & > div {
            width: 21px;
            height: 21px;
            position: relative;
            
            & > i {
                font-size: 21px;
                & > span {
                    position: absolute;
                    top:0px;
                    right:0px;
                    width:15px;
                    height:15px;
                    border-radius: 15px;
                    font-size: 12px;
                    background-color: #fd9e11;
                    transform: translate(60%, -60%);
                    text-align: center;
                    z-index: 2;
                    color:black;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    font-weight: 600;
                }
            }
        }

        & > div:nth-child(3) {
            cursor: pointer;
        }
    }

    &:not(.on) .bottom-side {
        & > div:nth-child(1), & > div:nth-child(2) {
            display: none;
        }
    }
    
}