<section class="app-question">
    <div class="side-menu">
        <i class="shadow-border" [color]="'primary'" [bgIcon]="'edit'" [size]="24"></i>
        <i class="shadow-border" [bgIcon]="'logic'" [size]="28"></i>
        <i class="shadow-border" [bgIcon]="'work'" [size]="24"></i>
    </div>
    <div class="side-option">
        <div class="header">
            <div>
                <section>
                    <span>Q1</span>
                    <i [bgIcon]="'leftArrow'" [size]="14" ></i>
                    <i [bgIcon]="'rightArrow'" [size]="14"></i>
                </section>
                <section>
                    <i class="icon-box md" [bgIcon]="'eye'" [size]="18"></i>
                    <i class="icon-box md" [bgIcon]="'undo'" [size]="18"></i>
                    <i class="icon-box md" [bgIcon]="'redo'" [size]="18"></i>
                    <i class="icon-box md" [bgIcon]="'save'" [size]="18"></i>
                    <i class="md icon-danger" [bgIcon]="'delete'" [color]="'white'" [size]="18"></i>
                </section>
            </div>
            <div>
                <select (change)="changeQuestionTypeWithReset($event)" style="width:100%" class="ui fluid selection dropdown" id="search-select">
                    <option value="single">단수 문항</option>
                    <option value="multi">복수 문항</option>
                    <option value="rank">순위 문항</option>
                    <option value="attribute">속성 문항</option>
                    <option value="text">자유 문항</option>
                    <option value="number">숫자 문항</option>
                    <option value="scale">척도 문항</option>
                  </select>
            </div>
        </div>
        <div class="content">
            <app-single-option [question]="questionObject"></app-single-option>
        </div>
    </div>
    <div class="main-content">
        <app-single [question]="questionObject"></app-single>
    </div>
</section>
