@import '/src/assets/scss/variable.scss';

.full-background {
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    font-family: "AppleSDGothicNeo", Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.main-layout {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
}

.main-content-wrapper {
    flex:1;
    height: 1px;
    display: flex;
    justify-content: center;
    background-color: $bg-color;
}