<section class="survey-wrapper">
    <div class="survey-header">
        <div>
            <i [bgIcon]="'leftArrow'" [size]="10" [color]="'dark'"></i><span>Back to task</span>
        </div>
    </div>
    <div class="survey-body">
        <div class="question-list white bg shadow-border">
            <div class="question-list-header">
                <div>
                    Question List
                </div>
                <div>
                    <i class="icon-box md" [bgIcon]="'check'" [size]="20"></i>
                    <i class="icon-box md" [ngClass]="{'active':true}" [color]="'active'" [bgIcon]="'sort'" [height]="20" [size]="15"></i>
                    <i class="icon-box md" [bgIcon]="'filter'" [size]="20"></i>
                    <i class="icon-box md" [bgIcon]="'search'" [size]="20"></i>
                </div>
            </div>
            <div class="question-list-body app-scroll">
                <div class="add-box bg white">
                    <span>
                        <i [bgIcon]="'plus'" [size]="16" [color]="'primary'"></i>
                    </span>
                    <div>문항 추가</div>
                </div>
                <ng-container *ngFor="let question of questionList; let i = index; trackBy: trackById">
                    <div class="question-list-item" [ngClass]="{'active': i === 1}">
                        <div class="item-header">
                            <div>
                                <input type="checkbox">
                                <span>
                                    Q1. (단수 문항)
                                </span>
                                
                            </div>
                            <div>
                                <i [bgIcon]="'grab'" [color]="'dark'" [size]="18"></i>
                                <i [bgIcon]="'copy'" [color]="'dark'" [size]="18"></i>
                                <i [bgIcon]="'star'" [color]="'dark'" [size]="18"></i>
                                <i [bgIcon]="'delete'" [color]="'danger'" [size]="18"></i>
                            </div>
                        </div>
                        <div class="item-content app-scroll">
                            {{
                                "문1-1. 그럼, 평생교육바우처 지원을 받기 이전, 평생교육 강좌를 수강하지 않은 주된 이유는 무엇입니까? \n문1-1. 그럼, 평생교육바우처 지원을 받기 이전, 평생교육 강좌를 수강하지 않은 주된 이유는 무엇입니까?"
                            }}
                        </div>
                        <div class="item-date">
                            마지막 업데이트: 2021.09.22 19:22
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="survey-content shadow-border white bg" [ngSwitch]="innreMenu">
            <div class="header">
                <ul>
                    <li class="active">문항</li>
                    <li>테스트</li>
                    <li>쿼터</li>
                </ul>
            </div>
            <ng-container *ngSwitchCase="'question'">
                <app-question></app-question>
            </ng-container>
            <ng-container *ngSwitchCase="'test'">
                <app-test-question></app-test-question>
            </ng-container>
            <ng-container *ngSwitchCase="'quota'">
                <app-quota></app-quota>
            </ng-container>
            <ng-container *ngSwitchDefault>
                <app-question></app-question>
            </ng-container>
        </div>
    </div>
</section>