@import '/src/assets/scss/variable.scss';

:host {
    @include korean-font();
    flex: 1;
    display: flex;
    height: 100%;
    font-size: 14px;
    & i {
        position: relative;
        &::before {
            @include absolute-center()
        }
    }
}

.icon-box {
    background-color: $color-light;
    border:1px solid $color-gray;
    transition: background-color .2s ease-in-out;
    cursor: pointer;
    &.md {
        border-radius: 5px;
        width: 26px !important;
        height: 26px !important;
    }

    &.active {
        background-color: #EEFBF5;
        border:1px solid #5CC0A3;
    }

    &:not(.active) {
        &:hover {
            background-color: #eef6ff;
        }
    }
    
}

.survey-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    & > .survey-header {
        margin-left: 8px;
        & > div:nth-child(1) {
            display: inline-flex;
            height: 30px;
            align-items: center;
            cursor: pointer;
            margin-left: 8px;
            & > span:nth-child(2) {
                margin-left: 5px;
                margin-top: 1px;
            }
        }
    }

    & > .survey-body {
        display: flex;
        flex: 1;
        height: 100%;
        padding-left:8px;
        padding-bottom:16px;
        align-items: stretch;
        overflow: hidden;
        & > .question-list {
            display: flex;
            flex-direction: column;
            height: 100%;
            border-radius: 15px;
            width: 308px;
            & > .question-list-header {
                display: flex;
                height: 48px;
                border-bottom: 1px solid $color-light;
                justify-content: space-between;
                align-items: flex-end;
                padding-left: 8px;
                padding-bottom: 8px;
                padding-right: 8px;

                & > div:nth-child(1) {
                    font-size: 16px;
                }

                & > div:nth-child(2) {
                    display: flex;
                    align-items: flex-end;
                    & > i:not(:last-child) {
                        margin-right: 13px;
                    }
                }
            }

            & > .question-list-body {
                flex:1;
                height: 100%;
                overflow: auto;
                position: relative;

                & > div:not(:last-child) {
                    border-bottom: 1px solid $color-light;
                }

                & > .add-box {
                    position: sticky;
                    top:0px;
                    display: flex;
                    flex-direction: column;
                    height: 90px;
                    align-items: center;
                    justify-content: center;
                    transition: background-color .2s ease-in-out;
                    cursor: pointer;
                    z-index: 999;
                    & > span {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 36px;
                        height: 36px;
                        border: 2px dotted $color-primary;
                        
                    }
                    & > div {
                        margin-top: 3px;
                        color:$color-gray
                    }

                    &:hover {
                        background-color: #eef6ff;
                    }
                }

                & > .question-list-item {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 90px;
                    padding-left: 8px;
                    padding-right: 8px;
                    cursor: pointer;

                    &.active {
                        background-color: #F6FBF5;
                    }

                    & > .item-header {
                        display: flex;
                        justify-content: space-between;
                        margin-top:6px;
                        & > div:nth-child(1) {
                            display: flex;
                            height:18px;
                            align-items: flex-start;
                            & > input {
                                margin-right: 5px;
                            }

                            & span {
                                line-height: 18px;
                            }
                        }

                        & > div {
                            & > i:not(:last-child) {
                                margin-right: 6px;
                            }
                        }
                        
                    }

                    & > .item-content {
                        padding-top:2px;
                        font-weight: 400;
                        line-height: 0.9;
                        height: 32px;
                        width: 100%;
                        overflow: hidden;
                        white-space: pre-wrap;
                    }

                    & > .item-date {
                        font-size: 12px;
                        height: 17px;
                        font-weight: 400;
                        color:$color-gray
                    }

                    &:hover{
                        background-color: #eef6ff;
                    }
                    

                }
            }
        }

        & > .survey-content {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            flex: 1;
            border-radius: 15px;
            margin-left:8px;
            margin-right: 16px;
            
            & > .header {
                display: flex;
                justify-content: center;
                height: 48px;
                align-items: center;
                border-bottom: 1px solid $color-light;
                
                & > ul {
                    display: inline-flex;
                    list-style: none;
                    margin:0px;
                    padding: 0px;
                    height: 100%;
                    width: calc(90px * 3);
                    font-size: 18px;
                    & > li {
                        flex:1;
                        text-align: center;
                        line-height: 48px;
                        border-bottom: 2px solid $color-dark;
                        cursor: pointer;
                        &.active {
                            background-color: #F5F9FB;
                            color:$color-primary;
                            border-color: $color-primary;
                        }
                    }
                }
            }
        }
    }
    
}