@import '/src/assets/scss/variable.scss';

:host {
    @include korean-font();
    flex: 1;
    display: flex;
    height: 100%;
    font-size: 16px;
    & i {
        position: relative;
        &::before {
            @include absolute-center()
        }
    }
}

.survey-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    & > .survey-header {
        height: 3em;
        border-bottom: 1px solid $color-secondary;
        display: flex;
        flex-direction: row;
        align-items: center;
        & > .tool-type {
            flex: 1 1 0px;
            border-right: 1px solid $color-secondary;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            background-color: $color-white;
            align-self: stretch;
            align-items: center;
            & > a {
                background-color: $color-white;
                padding: 0px 1em;
                border-radius: 4px;
                height: auto;
                flex: 1;
                margin:.3em;
                text-align: center;
                height: 30px;
                line-height: 30px;
                color: $color-dark;
                font-weight: 600;
                &.active {
                    background-color: #e8fff5;
                }
            }
        }
        
            
        & > .tool-header {
            flex: 5 5 0px;
            & > div {
                margin-left:.3em; 
                display: flex;
                flex-direction: row;
            }
        }
        
        
    }

    & > .survey-body {
        flex: 1 1 0px;
        display: flex;
        flex-direction: row;
        font-size: .9em;

        & > .question-list {
            flex: 1 1 0px;
            border-right: 1px solid $color-secondary;
            display: flex;
            flex-direction: column;
            background-color: white;
            & > .question-top {
                display: flex;
                flex-direction: row;
                align-items: center;
                border-bottom: 1px solid $color-secondary;
                height: 3em;
                padding:.5em;
            }

            & > .question-header {
                display: flex;
                flex-direction: row;
                align-items: center;
                border-bottom: 1px solid $color-secondary;
                height: 2.2em;
                
                & > div { height: 100%; display: flex; flex-direction: row; align-items: center; }

                & > div:nth-child(1) {
                    width: 2.5em;
                    border-right: 1px solid $color-secondary;
                    position: relative;
                    justify-content: center;
                    & > input {
                        font-size: 1.3em;
                        transform: scale(1.2);
                        @include absolute-center()
                    }
                }

                & > div:nth-child(2) {
                    width: 3em;
                    border-right: 1px solid $color-secondary;
                    justify-content: center;
                }

                & > div:nth-child(3) {
                    flex: 6;
                    padding-left: .52em;
                }

                & > div:nth-child(4), & > div:nth-child(5) {
                    justify-content: center;
                    flex: 1;
                    color:$color-secondary;
                }
                
            }

            & > .question-body {
                display: flex;
                flex-direction: column;
                flex:1 1 0px;
                

                & > div {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    height : 30px;
                    border-bottom: 1px solid $color-secondary; 
                    cursor: pointer;
                    position: relative;
                    z-index: 2;
                    & > .target-icon {
                        color:$color-primary;
                        position: absolute;
                        right: -40px;
                        top:50%;
                        transform: translate(-50%, -50%);
                        opacity: 0;
                        transition: opacity .2s ease-out;
                    }
                }



                & > div.active {
                    background-color: #e8fff5;

                    & > .target-icon {
                        display: inline-block;
                        opacity: 1;
                    }
                }

                & > div:not(.active):hover {
                    & > .target-icon {
                        display: inline-block;
                        opacity: 1;
                    }
                }

                & > div > div {
                    align-self: stretch;
                    line-height: 30px;
                }

                & > div > div:nth-child(1) {
                    width: 2.5em;
                    border-right: 1px solid $color-secondary;
                    position: relative;
                    justify-content: center;
                    align-self: stretch;
                    & > input {
                        font-size: 1.3em;
                        transform: scale(1.2);
                        @include absolute-center()
                    }
                }

                & > div > div:nth-child(2) {
                    width: 3em;
                    border-right: 1px solid $color-secondary;
                    justify-content: center;
                    display: flex;
                    
                    &.type-attr {
                        background-color: #0ede9142;
                    }

                    &.type-single {
                        background-color: #d5de0e42;
                    }
                    
                    &.type-multi {
                        background-color: #0e9fde42;
                    }

                    &.type-rank {
                        background-color: #de0e4c42;
                    }

                    &.type-text {
                        background-color: #4fde0e42;
                    }
                }

                & > div > div:nth-child(3) {
                    flex: 6;
                    padding-left: .52em;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    max-width: 160px;
                }

                & > div > div:nth-child(4), & > div > div:nth-child(5) {
                    justify-content: center;
                    flex: 1;
                    color:$color-secondary;
                }
            }
        }

        & > .survey-content {
            flex: 5 5 0px;
            display: flex;
        }

    }
}